### Go ###
# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
/swaggerui-server
coverage.txt

### Temp artifacts generated for the build ###
.tools_ok

### VisualStudioCode ###
.vscode/*
!.vscode/tasks.json
!.vscode/launch.json
*.code-workspace

# The (temporary) static folder
# This is the content of swagger-ui, except buy the index file
static
